<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<meta charset=utf-8 />
<title>game choose</title>
        <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.gridster.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/modern.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/modern-responsive.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">
<style>
    .container {
      position: absolute;
      float: left;
      right: -1300px; /* fst img width - all img width */
      width: 1525px; /* img border about 25px */
    }

    img {
      opacity: 1;
    }

    img:hover {
      opacity: .7;
    }
            .page{
            width: 940px;
            margin:auto
        }
    /*.hero05 { 
        width: 200px;
        height: 150px;
        background:url('../images/hero05.gif') no-repeat -84px 0px;}*/
</style>
<script>
    $(document).mousemove(function(e) {
      var screenWidth = window.screen.availWidth;
      var cntanrWidth = $(".container").width();
      var moveX = ($(".container img:first").width() - cntanrWidth) * (1 - e.pageX/screenWidth);
      console.log(moveX);
      $(".container").animate({
        right: moveX
      }, 0);
    });

    $("body").css("overflow", "hidden");
</script>
</head>
<body>
    <div class="grid">
    <div class="page">
        <div class="nav-bar">
            <div class="nav-bar-inner padding10">
                <span class="pull-menu"></span>

                <a href="/"><span class="element brand">
                    <!--<img class="place-left" src="images/logo32.png" style="height: 20px">-->
                    3D Print and Detect Demo <small></small>
                </span></a>

                <div class="divider"></div>
                 <p class="indent" style="float:right;color:#fff">2013.01.19 on VIA</p>
            </div>
        </div>

        
        <div style="width:100%;text-align:center;margin-top:50px;margin-bottom:50px;">
            <img src="../images/lol.png" width="200px">
            <br/>
            <br/>
            Choose one charactor!
        </div>
        <div id="shownotification" style="display:none;">
            
        </div>

    </div>
</div>
    <div class="container">
        <!--<div class="hero5"></div>
        <div class="hero4"></div>
        <div class="hero3"></div>
        <div class="hero2"></div>
        <div class="hero1"></div>-->
        <img src="http://127.0.0.1:3000/images/hero05.gif" onclick="goindex();">
        <img src="http://127.0.0.1:3000/images/hero04.gif" onclick="goindex();">
        <img src="http://127.0.0.1:3000/images/hero03.gif" onclick="goindex();">
        <img src="http://127.0.0.1:3000/images/hero02.gif" onclick="goindex();">
        <img src="http://127.0.0.1:3000/images/hero01.gif" onclick="goindex();"> 

    </div>
    <script>

        //console.log(count)
      //  document.getElementsByTagName('img').addEventListener('click',goindex,false);
        function goindex(){
            window.location.href = "../3dcharactorinfo";
            //window.load('../3dindex.html')
        }
    </script>
</body>
</html>
