<html>
<head>
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/style.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/custom.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/jquery.gridster.min.css">-->
	<link rel="stylesheet" type="text/css" media="all" href="/css/modern.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/modern-responsive.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<!--<script type="text/javascript" src="/js/jquery.gridster.min.js"></script>-->
</head>
<body>

<!--<div class="nav-bar headerbar">
    <div class="nav-bar-inner">
        <span class="element logo_bar">Listening </span>
        <span class="divider"></span>
        <ul class="menu">
            <li>
                <a href="#">政府福利</a>
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="#">購買助聽器</a>
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="#">聾人教育</a>
            </li>
        </ul>
    </div>
</div>-->
<div class="page">
   <div class="grid">
        <div class="row">
            <div style="margin-top:50px;">
                <h2 style="text-align:center">Listening , Deaf</h2>
            </div>
            <div class="nav-bar" style="background:#F1F0F0;margin-top:20px;margin-bottom:20px;">
                <div class="nav-bar-inner">
                    <ul class="menu">
                        <li>
                            <a href="./listening" style="color:#444;margin-left:10px"> 政府福利</a>
                        </li>
                    </ul>
                    <span class="dividbar"></span>
                    <ul class="menu">
                        <li>
                            <a href="./buyearphone" style="color:#444;margin-left:10px">購買助聽器</a>
                        </li>
                    </ul>
                    <span class="dividbar"></span>
                    <ul class="menu">
                        <li>
                            <a href="./education" style="color:#444;margin-left:10px">聾人教育</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="educontent">
                <h3>聽說讀寫，是教育中最重要的環節。</h3>
                <br/>
                聽障同胞因為失去聽覺，而導致聽與說有嚴重的學習障礙，因此不容易去教育，許多家長往往因此錯過小孩子最需要教育的時間，因此
                我們打算提供一個教育平台，結合教育局資源（包含法規.可用之行政資源）與過來人經驗。
            </div>
            <!--<label class="input-control checkbox">
                <input type="checkbox">
                <span class="helper">不曾領過政府補助</span>
            </label>-->
            <!--<form action='/test' method='post'>
                <input type='text' name='name' value='fred'>
                <input type='text' name='tel' value='0926xxx572'>
                <input type='submit' value='Submit'>
            </form>-->
        </div>
    </div>
</div>
<!--<button class="image-button"> Caption <img/> </button>
<div class="span4 bg-color-blue">
    <img src="images/simple.png" class="place-right" style="margin: 10px;">
    <h2 class="fg-color-white">&nbsp;Simple</h2>
</div>
<div class="span4 bg-color-green">
    <img src="images/grid.png" class="place-right" style="margin: 10px;">
    <h2 class="fg-color-white">&nbsp;Sufficient</h2>
</div>
<div class="span4 bg-color-yellow">
    <img src="images/responsive.png" class="place-right" style="margin: 10px;">
    <h2 class="fg-color-white">&nbsp;Responsive</h2>
</div>-->
</body>
</html>