<html>
<head>
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/style.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/custom.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">-->
	<link rel="stylesheet" type="text/css" media="all" href="/css/jquery.gridster.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/modern.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/modern-responsive.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.gridster.min.js"></script>
</head>
<body>
<div class="grid">
    <div class="row">
        <div class="span4"id="sidebar">
        	<div style="width:100%;height:5em;text-align:center;margin-top:4em">
        	<h3>The</h3>
        	<h2 style="margin-top:-0.5em;">ReaderFi</h2>
        	</div>
        	<p class="body-secondary-text">Read what you want fast!</p>
        	<button class="shortcut">
		        <span class="icon">
		            <i class="icon-*"></i>
		        </span>
		        <span class="label">
		            Caption
		        </span>
		        <span class="badge">100</span>
		    </button>

		    <div class="toolbar">
                <button><i class="icon-home"></i></button>
                <button><i class="icon-bookmark"></i></button>
                <button><i class="icon-phone"></i></button>
                <button><i class="icon-compass"></i></button>
                <button><i class="icon-mail"></i></button>
            </div>
            <div style="text-align:center;">
            	Copyright (c) Blue Chen
            </div>
        </div>
        <div class="span4"id="hoversidebar">
        </div>
        <div class="content">
    	    
	<div class="gridster">
    <ul>
    	<li class="tile" data-row="1" data-col="1" data-sizex="1" data-sizey="1">hihi</li>
   		<li class="tile double" data-row="1" data-col="1" data-sizex="1" data-sizey="1">heyhey</li>
    	<li class="tile selected" data-row="1" data-col="1" data-sizex="1" data-sizey="1">dodo</li>
    	<li class="tile bg-color-orange" data-row="1" data-col="1" data-sizex="1" data-sizey="1">yoyoyp</li>
    	<li class="tile double bg-color-blueDark" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div class="tile-content">
                <img src="images/michael.jpg" class="place-left">
                <h3 style="margin-bottom: 5px;">michael_angiulo</h3>
                <p>
                    I just saw Thor last night. It was awesome! I think you'd love it.
                    </p><h5>RT @julie_green</h5>
                <p></p>
            </div>
            <div class="brand">
                <span class="name">Tweet@rama</span>
            </div>
        </li>
    </ul>
	</div>
			<script type="text/javascript">
			$(function(){ //DOM Ready
			 
			    $(".gridster ul").gridster({
			        widget_margins: [2, 2],   //邊框size
			        widget_base_dimensions: [140, 140]
			    });
			 
			});
			</script>
        </div>
    </div>
</div>
	<!--<div id="sidebar">
		<header id="header">
			<div id="logo">
				<a href="#">
					
				</a>
			</div>
			<p id="tagline"><?php bloginfo('description'); ?></p>
		</header>
	</div>
	<div class="gridster">
    <ul>
    	<li class="tile" data-row="1" data-col="1" data-sizex="1" data-sizey="1">hihi</li>
   		<li class="tile double" data-row="2" data-col="1" data-sizex="1" data-sizey="1">heyhey</li>
    	<li class="tile selected" data-row="3" data-col="1" data-sizex="1" data-sizey="1">dodo</li>
    	<li class="tile bg-color-orange" data-row="1" data-col="2" data-sizex="2" data-sizey="1">yoyoyp</li>
    </ul>
	</div>
	 <label class="input-control checkbox">
        <input type="checkbox">
        <span class="helper">CheckBox Caption</span>
    </label>
<script type="text/javascript">
	$(function(){ //DOM Ready
 
    $(".gridster ul").gridster({
        widget_margins: [2, 2],   //邊框size
        widget_base_dimensions: [140, 140]
    });
 
});
</script>-->


<!--<script type="text/javascript" src="/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/js/plugins.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>-->
</body>
</html>