<html>
<head>
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/style.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/custom.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="/css/jquery.gridster.min.css">-->
	<link rel="stylesheet" type="text/css" media="all" href="/css/modern.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/modern-responsive.css">
	<link rel="stylesheet" type="text/css" media="all" href="/css/main_layout.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<!--<script type="text/javascript" src="/js/jquery.gridster.min.js"></script>-->
</head>
<body>

<!--<div class="nav-bar headerbar">
    <div class="nav-bar-inner">
        <span class="element logo_bar">Listening </span>
        <span class="divider"></span>
        <ul class="menu">
            <li>
                <a href="#">政府福利</a>
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="#">購買助聽器</a>
            </li>
        </ul>
        <ul class="menu">
            <li>
                <a href="#">聾人教育</a>
            </li>
        </ul>
    </div>
</div>-->
<div class="page">
   <div class="grid">
        <div class="row">
            <div style="margin-top:50px;">
                <h2 style="text-align:center">Listening , Deaf</h2>
            </div>
            <div class="nav-bar" style="background:#F1F0F0;margin-top:20px;margin-bottom:20px;">
                <div class="nav-bar-inner">
                    <ul class="menu">
                        <li>
                            <a href="./listening" style="color:#444;margin-left:10px"> 政府福利</a>
                        </li>
                    </ul>
                    <span class="dividbar"></span>
                    <ul class="menu">
                        <li>
                            <a href="./buyearphone" style="color:#444;margin-left:10px">購買助聽器</a>
                        </li>
                    </ul>
                    <span class="dividbar"></span>
                    <ul class="menu">
                        <li>
                            <a href="./education" style="color:#444;margin-left:10px">聾人教育</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="selectcontent">
                <form action='./new' method='post'>
                    <h3>所在縣市</h3>
                    <div class="input-control select">
                        <select>
                            <option value="1">高雄市</option>
                            <option>台北市</option>
                            <option>新竹市</option>
                            <option>桃園市</option>
                        </select>
                    </div>
                    <h3>年齡</h3>
                    <div class="input-control select">
                        <select>
                            <option>未滿18</option>
                            <option>20歲以上，60歲以下</option>
                        </select>
                    </div>
                    <h3>設籍本市多久</h3>
                    <div class="input-control select">
                        <select>
                            <option>居住本市</option>
                            <option>一年以上</option>
                        </select>
                    </div>
                    <h3>家庭年收入</h3>
                    <div class="input-control select">
                        <select>
                            <option>10000000以下</option>
                            <option>10000000~2000000</option>
                            <option>20000000以上</option>
                        </select>
                    </div>
                    <label class="input-control checkbox">
                        <input type="checkbox">
                        <span class="helper">是否為低收入戶</span>
                    </label>
                    <label class="input-control checkbox">
                        <input type="checkbox">
                        <span class="helper">有無領有身障手冊</span>
                    </label>
                    <input type='submit' value='Submit'>
                </form>
            </div>
            <!--<label class="input-control checkbox">
                <input type="checkbox">
                <span class="helper">不曾領過政府補助</span>
            </label>-->
            <!--<form action='/test' method='post'>
                <input type='text' name='name' value='fred'>
                <input type='text' name='tel' value='0926xxx572'>
                <input type='submit' value='Submit'>
            </form>-->
        </div>
    </div>
</div>
<!--<button class="image-button"> Caption <img/> </button>
<div class="span4 bg-color-blue">
    <img src="images/simple.png" class="place-right" style="margin: 10px;">
    <h2 class="fg-color-white">&nbsp;Simple</h2>
</div>
<div class="span4 bg-color-green">
    <img src="images/grid.png" class="place-right" style="margin: 10px;">
    <h2 class="fg-color-white">&nbsp;Sufficient</h2>
</div>
<div class="span4 bg-color-yellow">
    <img src="images/responsive.png" class="place-right" style="margin: 10px;">
    <h2 class="fg-color-white">&nbsp;Responsive</h2>
</div>-->
</body>
</html>