<html>
<head>
</head>
<body>
	<h1>test touch start: </h1>
	<div id="touchstart" style="width:100%; height:200px; background:#444">
	</div>
	<div id="messageBox"></div>
	<br/>
	<div id="messageBox2"></div>
	<br/>
	<div id="messageBox3"></div>
	<a href="http://mrdoob.github.com/three.js/examples/webgl_geometry_minecraft_ao.html">threejs.test</a>


	<script type="text/javascript">
	
	var touch = document.getElementById('touchstart'),
		showmsg = document.getElementById('messageBox'),
		showmsg2 = document.getElementById('messageBox2'),
		showmsg3 = document.getElementById('messageBox3');

	/*	touch.addEventListener('touchstart', function(event){
      		var firstFinger = event.targetTouches[0];
      		showmsg.innerHTML = 'point ' + firstFinger.pageX + ',' + firstFinger.pageY + ' touched!';
  			}, false);

  		touch.addEventListener('touchmove', function(event){
	     		var centroid = { x: 0, y: 0 };
				for(var i=0; i<event.targetTouches.length; ++i) {
				  centroid.x += event.targetTouches[i].pageX;
				  centroid.y += event.targetTouches[i].pageY;
				}
				centroid.x /= event.targetTouches.length;
				centroid.y /= event.targetTouches.length;

				showmsg2.innerHTML = 'touch centroid: ' + centroid.x + ',' + centroid.y;
				event.preventDefault();
			}, false);


		touch.addEventListener('touchend', function(event){
			var touchevent = event.changedTouches[0];
			showmsg3.innerHTML= 'touch end: ' + touchevent.pageX + ',' + touchevent.pageY;
		}, false);
		*/
		/*
		//實現拖曳
		touch.addEventListener("touchmove", function(event){  
		    // Only deal with one finger  
		    if(event.touches.length == 1){  
		        // Get the information for finger #1  
		        var touch = event.touches[0],  
		            // Find the style object for the node the drag started from  
		            style = touch.target.style;  
		        // Position the element under the touch point  
		        style.position = "absolute";  
		        style.left = touch.pageX + "px";  
		        style.top = touch.pageY + "px";  
		    }  
		}, false);  
		*/
	var width = 100,
    	height = 200,
    	rotation = 0;

touch.addEventListener("gesturechange", function(event){
    var style = event.target.style;
    // scale and rotation are relative values,
    // so we wait to change our variables until the gesture ends
    style.width = (width * event.scale) + "px";
    style.height = (height * event.scale) + "px";
    style.webkitTransform = "rotate(" + ((rotation
      + event.rotation) % 360) + "deg)";
	event.preventDefault();
}, false);
 
touch.addEventListener("gestureend", function(event){
    // Update the values for the next time a gesture happens
    width *= event.scale;
    height *= event.scale;
    rotation = (rotation + event.rotation) % 360;
    showmsg.innerHTML = 'rotation:'+ rotation;
    event.preventDefault();
}, false); 



	</script>
</body>
</html>